{% extends 'layout/backEndLayout.html.twig' %}

{% block name %} Bethesda Contact{% endblock %}

{% block body %}
<div class="example-wrapper">
    

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/ruben/web/bethesda/src/Controller/AcountController.php'|file_link(0) }}">src/Controller/AcountController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/ruben/web/bethesda/templates/acount/index.html.twig'|file_link(0) }}">templates/acount/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
