<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>badge</title>
       
        <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/css/badge/badge-front.css')) }}" />
        <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/css/badge/badge-back.css')) }}" />


    </head>

    <body>
        <div class="student-badge-front">
            <div class="outer-cont"> 
                
            </div>
            <div class="middle-cont">
                <div class="inner-middle">
                    <div class="core-cont">
                        <image src="{{ absolute_url(asset('favicon.jpg')) }}" alt="student image"></image>
                    </div>
                </div>
            </div>
            <div class="additional-element"></div>
            <div class="additional-element-2"></div>
            <div class="Title1"><p><span id="Carte">CARTE SCOLAIRE</span><br><span id="font-I">SCHOOL ID CARD</span><br><span id="font-S">2022-2023</span></p></div>
            <div class="name"><p><span id="name1">NYATTE</span><br>RAPHAEL NATHAN <br>FORM 1 A</p></div>
            <div class="info1"><p>Né(e) le / <span id="info11">Born</span><br><span id="info12">26/01/2011</span></p></div>
            <div class="info2"><p>Sexe / <span id="info21">Sex</span><br><span id="info22">M</span></p></div>
            <div class="info3"><p>A / <span id="info31">At</span><br><span id="info32">yaounde</span></p></div>
            <div class="info4"><p>Matricule<br><span id="info41">M171/2022</span></p></div>
            <div class="info5"><p>COLLEGE BILINGUE LAIC LA PIETE / <span id="info51">LA PIETE BILINGUAL COLLEGE</span></p></div>
        </div>


        <div class="student-badge-back">
            <div class="full"></div>
            <div class="additional-task"></div>
            <div class="additional-task-1"></div>
            <div class="rep1"><p>REPUBLIQUE DU CAMEROUN<br>paix-travail-patrie</p></div>
            <div class="min1"><p>MINISTERE DES ENSEIGNEMENTS<br>SECONDAIRES</p></div>
            <div class="rep2"><p>REPUBLIC OF CAMEROON<br>Peace-Work-Home</p></div>
            <div class="rep3"><p>MINISTRY OF EDUCATION<br>SECONDARY</p></div>
            <div class="name1"><span id="name11">COLLEGE BILINGUE LAIC LA PIETE</span><br><span id="name12">LA PIETE BILINGUAL SCHOOL</span></div>
            <div class="addr1"><p>Adresse / <span id="addr11">Adress</span><br>EKOUMDOUM CARREFOUR</p></div>
            <div class="em1"><p>Email / <span id="em11">Email</span><br>collegebilinguelapiete@yopmail.com</p></div>
            <div class="Tel"><p>Téléphone / <span id="Tel1">Phone</span><br>+237693940738</p></div>
            <div class="hel1"><p>En cas d'urgence,<br>veuillez appeler le numéro ci-dessous :</p></div>
            <div class="hel2"><p>In case of emergency,<br>please call the number below :</p></div>
            <img src="" alt="emergency call only" class="img2"></img>
            <img src="" alt="QR CODE" class="img3"></img>
            <div class="tel"></image>+237693895311</div>
        </div>
    </body>
</html>