<!DOCTYPE html>

<title>Edit Abscence</title>

{% block body %}
    <h1>Edit Abscence</h1>

    {{ include('abscence/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_abscence_index') }}">back to list</a>

    {{ include('abscence/_delete_form.html.twig') }}
{% endblock %}
