<!DOCTYPE html>

<title>New Abscence</title>

{% block body %}
    <h1>Create new Abscence</h1>

    {{ include('abscence/_form.html.twig') }}

    <a href="{{ path('app_abscence_index') }}">back to list</a>
{% endblock %}
