{% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div  style="color: #30101A; " class="m-1  alert alert-{{type}} rounded text-center" role= "alert" >
                        {{ message }}
                    </div>
                {% endfor %}
{% endfor %}
