td {
  border: 1px solid black;
  text-align: center;
}
th.rotate {
  transform: rotate(-90deg);
  text-align: center;
}
.container {
  display: flex; 
  flex-direction: row ;
  justify-content: space-between;
}
