td,th {
  border: 1px solid black;
  text-align: top;
}
th.rotate {
  padding: 10px 0; 
  transform: rotate(-45deg);
  font-size: 8px;
}
.container {
  display: flex; 
  flex-direction: row ;
  justify-content: space-between;
}
