td,th {
  border: 1px solid black;
  text-align: center;
}
th.rotate {
  transform: rotate(-45deg);
  text-align: center;
  font-size: 8px;
}
.container {
  display: flex; 
  flex-direction: row ;
  justify-content: space-between;
}
