{% extends 'layout/backEndLayout.html.twig' %}


{% block content %}
  
    
         <div class="row mt-4">
            <div class="col-3" >
                {% if(year.paymentPlans|length > 0) %}

                {% else %}
                   <input class="form-control form-control-lg" type="number" value="2" id="slice" placeholder="nombre de tranches">
                {% endif %}
            </div>
            <div class="col-9 jumbotron" >
              <div class="m-1 box-shadow">
                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal text-center text-justify text-uppercase"> Grille de tranches de scolarite par classe </h4>
                    </div>
                <table  width="100%" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:5%;" class="text-center" scope="col">Niveau</th>
                            <th style="width:5%;" class="text-center" id="room" scope="col">Classe</th>
                            <th style="width:16%;" class="text-center" scope="col" colspan="2">Frais Examen</th>                            
                            <th style="width:15%;" class="text-center" scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for room in rooms %}
                            <tr>
                                <td style="width:5%;" class="text-center" scope="row">{{ room.level.name }}</td>
                                 <td style="width:15%;" class="text-center" scope="row">{{ room.name }}</td>
                                 <td style="width:8%;" class="text-center" scope="row"></td>
                                 <td style="width:8%;" class="text-center" scope="row"></td>

                                
                                 <td style="width:8%;" class="text-center" scope="row"></td>
                                 <td style="width:8%;" class="text-center" scope="row"></td>

                                   <td style="width:8%;" class="text-center" scope="row"></td>
                                 <td style="width:8%;" class="text-center" scope="row"></td>

                                   <td style="width:8%;" class="text-center" scope="row"></td>
                                 <td style="width:8%;" class="text-center" scope="row"></td>

                                 <td style="width:15%;" class="text-center" scope="row"></th>
                             
                               
                               
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
   
{% endblock %}
{% block javascripts %}
	{{parent()}}
    <script type="text/javascript">
        const slice = $("#slice"), room=$("#room")  ;
        sliceSize = slice.val();
        for(let i=sliceSize; i>=1 ; i--) {
                 $(`  <th style=\"width:16%;\" class=\"text-center inserted\" scope=\"col\" colspan=\"2\">Tranche ${i}</th>`).insertAfter(room);
        } 
       /* $('.inserted').each(function(){
            console.log(this)
                (this).remove();
        });*/
        slice.change(function(){
            $('.inserted').each(function(){
                    $(this).remove();
            });
            sliceSize = slice.val();
            for(let i=sliceSize; i>=1 ; i--) {
                 $(`  <th style=\"width:16%;\" class=\"text-center inserted\" scope=\"col\" colspan=\"2\">Tranche ${i}</th>`).insertAfter(room);
             }          
         })

    </script>
{% endblock javascripts %}
