{% extends 'layout/backEndLayout.html.twig' %}



{% block title %}Nouvelle section - {{ parent() }}{% endblock %}

{% block content %}
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
       
          <div class="row">
                <div class="col-md-6 mx-auto">
                    <article class="text-center">
                        <br/>
                        <h1 >  Create Section </h1>
                         {{include('layout/partials/_form.html.twig',{'submitButtonText':'Create section', 'returnRoute':'admin_sections'})}}
                    </article>
                </div>
            </div>
   
    
{% endblock %}
