<!DOCTYPE html>

<title>Edit AbscenceSheet</title>

{% block body %}
    <h1>Edit AbscenceSheet</h1>

    {{ include('abscence_sheet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_abscence_sheet_index') }}">back to list</a>

    {{ include('abscence_sheet/_delete_form.html.twig') }}
{% endblock %}
